---
import styles from './Header.module.css';
import Icon from '../icons/Icon.astro';
---

<header class={styles.header}>
  <p class={styles.textLeft}>CityLoveStudio</p>
  <p class={styles.textCenter}>Разработка NEтривиальных сайтов</p>
  <div class={styles.blockRight}>
    <a class={styles.phoneLink} href="tel:+79265210268">+7 926 521 02 68</a>
    <Icon name="burger" />
  </div>
</header>
